body{
    background-color: #1e3d59;
    overflow-y: hidden;
}

h1{
    text-align: center;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    height: 40px;
    width: 28%;
    margin-left: 32%;
    color: whitesmoke;
    margin-top: 50px;
}

.container{
    height: 80vh;
    width: 70vh;
    margin-left: 19rem;
    padding-top: 4vmin;
}

.game{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.box{
    height: 22vmin;
    width: 22vmin;
    border-radius: 5px;
    font-size: 10vmin;
    color: #931621;
    background-color: #ffffc7;
}

#reset{
    margin-top: 15px;
    margin-left: 60%;
    height: 9vmin;
    width: 12vmin;
    font-size: x-large;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 10%;
    cursor: pointer;
}

.winHeading{
    color: #083511;
    text-align: center;
    font-family: "Arial";
    font-size: xx-large;
    border: 2px solid black;
    background-color: #d4edda;
    border-radius: 5px;
    height: 30px;
    width: 37%;
    margin-left: 32%;
    margin-top: 34%;
    margin-bottom: 10%;
    padding-bottom: 30px;
    padding-top: 5px;
}

/* .reset:hover{

} */

